.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  form {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 1rem;
  }
}
.btn-set {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-around;
}
