@import url("https://fonts.googleapis.com/css2?family=Georama:wght@400&display=swap");
* {
  font-family: "Georama", sans-serif;
}

body {
  min-height: 100vh;
}

footer {
  background-color: gray;
  min-height: 20rem;
}
