@import url("https://fonts.googleapis.com/css2?family=Heebo&family=Roboto:wght@300;400&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

body {
  min-height: 100vh;
}

footer {
  background-color: gray;
  min-height: 20rem;
}
